*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding: 10px 90px;
    box-sizing: border-box;
    background: rgba(0,0,0,0.6);
}
nav .logo{
    height: 180px;
    margin-top: -7%;
    display: flex;
    
    
}
nav ul{
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
     margin-left: 20%;
}
nav ul li a{
    line-height: 80px;
    color: #fff;
    padding: 12px 30px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
   
}
nav ul li a:hover{
    background: rgba(255, 255, 255, 0.7);
    border-radius: 6px;
}


#home{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0,0, 0.5);
    height: 550px;
    justify-content: center;
    align-items:center ;
    color: white;
}
#home::before{
    content: "";
    position: absolute;
    top:0;
    right: 0;
    background: url(pexels-bich-tran-669996.jpg);
    width: 100%;
    height: 500px;
    z-index: -1;
    opacity: 0.8;
    background-size: cover;
    background-position:center;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top:20%;
    right: 10%;
}
.headings{
    font-family: century;
    font-size: 3rem;
    text-align: center;
    margin: 40px 0px;
}
.btn{
    padding: 10px 35px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    outline: none;
    transition: .6s ease;
}
.btn:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    box-shadow: 0 0 5px white,0 0 10px white,0 0 15px white;
    font-weight: bold;
}
#about{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 50px;
}

#pic{
    display: flex;
}
#pic img{
    width: 575px;
    height: 400px;
}
#intro{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 10px;
}
#intro h2{
    font-size: 2rem;
    margin-bottom: 20px;
}
#intro p{
    font-size: 25px;
    text-align: justify;
    line-height: 35px;
    
}
#portfolio{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0,0, 0.9);
    color: white;
    align-items: center;
    padding: 20px;
}  
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
}

.gallery img{
    width: 360px;
    height: 240px;
    margin: 10px;
   

}
.overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 80%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    
  }
  .action {
    position: relative;  
  }
  .action:hover .overlay{
    opacity: 1;
    
  }
#social_media{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.socialpng{
    height: 150px;
    padding: 10px;
    margin-top: 50px;
}
.row{
    display: flex;
    
}
.box{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 450px;
    border: 1px solid black;
    margin: 10px;
    align-items: center;
    text-align: justify;
    padding: 10px;
    border-radius: 15px;
    background:linear-gradient(to top,rgb(0, 179, 255) 50%,white 50%);
    background-size: 100% 200%;
    transition: all.8s;
}
.box:hover{
    background-position: left bottom;
    color: white;
    border: none;
    box-shadow: 0 0 20px rgb(1, 112, 240);
}
#contact{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: black;
    color: white;
    padding: 20px;
}
.form{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    margin: 20px 0px;
}
.input{
    padding: 12px;
    margin: 15px;
    width: 20%;
}
